.main-cont{
  min-height: 75vh;
  padding-bottom: 5rem;
}

.footer{
  background-color: black;
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  margin-bottom: 0 !important;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  text-align: center;
  color: white;
  font-size: 12px;
  padding: .5rem 0;
  margin: 0;
}

@media screen and (max-width: 576px) {
  .copyright{
    font-size: 10px;
  }
}